n8n/workflows/memory_sync_template.json
{
  "name": "Memory Sync - AgentMemory to Obsidian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3111/agentmemory/export",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "export-memory",
      "name": "Export AgentMemory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "path": "={{ $env.CHEMIN_VAULT_OBSIDIAN }}/AgentMemory/export.json",
        "content": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "write-obsidian",
      "name": "Write to Obsidian",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Daily Cron Trigger": {
      "main": [
        [
          {
            "node": "Export AgentMemory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export AgentMemory": {
      "main": [
        [
          {
            "node": "Write to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
